/**Form Login*/

body {
    margin: 0;
    padding: 0;
    background-color: #285083;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

.subir-margen {
    margin-top: 55px !important;
}

.labels {
    color: black !important;
    font-weight: 400;
}

.labels-white {
    color: #fff!important;
    font-weight: bold;
}

.img-content {
    background-color: #194f88;
    width: 500px;
}

img.logo {
    max-width: 54%;
    margin-top: 80px;
}


/*Modal Folio*/

table.table th,
table.table td {
    padding-top: 0.1rem;
    padding-bottom: 0rem;
}

.modal-content {
    width: 140%!important;
    margin-left: -100px;
}

.tabla-descripcion {
    margin-top: 30px;
}

.letra9 {
    font-size: 9px;
}